In [61]:
from pymcdm.methods import TOPSIS
import pandas as pd
import numpy as np
from mealpy.swarm_based.PSO import OriginalPSO
from pymcdm_reidentify.methods import STFN
from pymcdm_reidentify.normalizations import FuzzyNormalization

In [62]:
pf = pd.read_csv("test_data/test_data_small.csv")
pf

  alternatives   cat1    cat2    cat3    cat4   cat5
0           a1  200.0  114.55  112.33   87.74  23.47
1           a2   44.6   25.83   25.73   15.17   6.51
2           a3  135.8  211.83  178.55  107.39  25.81
3           a4   47.5   69.37   68.32   34.82   7.55
4           a5  164.7   10.10    8.14    5.68   1.27
5           a6   88.3  147.93  146.97   85.60  25.27
6           a7  200.0  100.00   96.34   67.15  20.22
7           a8  333.6   60.60   56.16   45.96  14.20
8           a9   78.8   17.99   16.71    9.48   3.36
9          a10  156.5   82.80   71.94   53.70  15.05

In [63]:
matrix = pf.to_numpy()[:, 1:].astype(float)
weights = np.array([0.15, 0.228, 0.222, 0.21, 0.19])
types = np.array([1, 1, 1, -1, -1])
matrix

array([[200.  , 114.55, 112.33,  87.74,  23.47],
       [ 44.6 ,  25.83,  25.73,  15.17,   6.51],
       [135.8 , 211.83, 178.55, 107.39,  25.81],
       [ 47.5 ,  69.37,  68.32,  34.82,   7.55],
       [164.7 ,  10.1 ,   8.14,   5.68,   1.27],
       [ 88.3 , 147.93, 146.97,  85.6 ,  25.27],
       [200.  , 100.  ,  96.34,  67.15,  20.22],
       [333.6 ,  60.6 ,  56.16,  45.96,  14.2 ],
       [ 78.8 ,  17.99,  16.71,   9.48,   3.36],
       [156.5 ,  82.8 ,  71.94,  53.7 ,  15.05]])

In [64]:
print("Weights:", weights)
print("Types:", types)

Weights: [0.15  0.228 0.222 0.21  0.19 ]
Types: [ 1  1  1 -1 -1]

In [65]:
topsis = TOPSIS()
expert_pref = topsis(matrix, weights, types)
print("pref =", np.round(expert_pref, 4))
expert_rank = topsis.rank(expert_pref)
print("rank =", expert_rank)

pref = [0.4129 0.4255 0.5165 0.4576 0.4677 0.4558 0.427  0.4645 0.4462 0.4181]
rank = [10.  8.  1.  4.  2.  5.  7.  3.  6.  9.]

In [66]:
def make_bounds(data_matrix):
    bounds = np.array([[np.min(data_matrix[:, i]), np.max(data_matrix[:, i])]
                      for i in range(data_matrix.shape[1])])
    return bounds

bounds = make_bounds(matrix)
bounds

array([[ 44.6 , 333.6 ],
       [ 10.1 , 211.83],
       [  8.14, 178.55],
       [  5.68, 107.39],
       [  1.27,  25.81]])

In [67]:
stoch = OriginalPSO(epoch=100, pop_size=50)
stfn = STFN(stoch.solve, TOPSIS(), bounds, weights)

In [ ]:
stfn.fit(matrix, expert_rank)

In [70]:
print(f"STFN cores: {stfn.cores}")

STFN cores: [ 45.23321087 189.36665111  56.98208794  22.40952263   2.59896337]

In [71]:
def rw(rankx, ranky, n):
    suma = 0
    for i in range(n):
        suma += ((
            (rankx[i]-ranky[i])**2)
            *((n-rankx[i]+1)+(n-ranky[i]+1)
                    ))
    suma = 6 * suma
    denominator = n**4 + n**3 - n**2 - n
    if denominator == 0:
        return 0
    suma = suma / denominator
    return 1-suma

def WS(rankx, ranky, n):
    suma = 0
    for i in range(n):
        eq = 2 ** (-float(rankx[i]))
        eq2 = abs(rankx[i] - ranky[i]) / max(abs(1 - rankx[i]), abs(n - rankx[i]))
        suma += eq * eq2
    return 1 - suma

In [72]:
ob_norm = FuzzyNormalization(stfn())
body = TOPSIS(ob_norm)
new_types = np.ones(matrix.shape[1])
new_pref = body(matrix, weights, new_types)
new_rank = body.rank(new_pref)

In [73]:
print("new rank:", new_rank)
print("old rank:", expert_rank)
print("RW:", rw(expert_rank, new_rank, matrix.shape[0]))
print("WS:", WS(expert_rank, new_rank, matrix.shape[0]))

new rank: [ 8.  7.  9.  1. 10.  5.  4.  3.  6.  2.]
old rank: [10.  8.  1.  4.  2.  5.  7.  3.  6.  9.]
RW: -0.22424242424242413
WS: 0.26791527157738093